// Layout styles
.default-layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $color-white;
    padding: 100px 100px 0;
    margin: 0 auto;
    max-width: 1200px;
    background-color: var(--bg-primary);

    @media (max-width: $breakpoint-3xl) {
        max-width: 1250px;
    }
    @media (max-width: $breakpoint-2xl) {
        max-width: 1170px;
    }
    @media (max-width: $breakpoint-xl) {
        max-width: 1000px;
    }
    @media (max-width: $breakpoint-lg) {
        max-width: 850px;
        padding: 100px 68px 0;
        .nav-link {
            font-size: 12px;
        }
    }
    @media (max-width: $breakpoint-md) {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        .nav-link {
            font-size: 11px;
        }
    }
    @media (max-width: $breakpoint-sm) {
        padding-top: 20px;
        .nav-link {
            font-size: 14px;
        }
    }
    &__main {
        flex-grow: 1;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

// Page transition animation styles
.page-transition {
    width: 100%;
    height: 100%;
    will-change: opacity, transform;
}
